


<div class="footer">
  <p>More About Project Share 
  <nav>
    <ul>
      <li><a href="#Contact">Contact</a></li>
      <li><a href="#Project Updates">Project Updates</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#Donate">Donate</a></li>
    </ul>
  </nav>
  
  </p>
</div>

</body>
</html> 
