extends layout

block content

 img(src="MLK-Day-of-Service-1024x682 - Copy.jpg")

 block content
<h2>ProjectShare</h2>
<p><p>Welcome To Poject Share!Project Share is a free orgination for at risk teens ages twelve to eighteen.</p>
<p>If you want change come sign up for projectsshares mentoring and counsiling today!</p>

<header>
  <h2>ProjectShare</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#Contact">Contact</a></li>
      <li><a href="#Project Updates">Project Updates</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#Donate">Donate</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>Sharing</h1>
    <p>Does your teenager need help? Are you tired, scared, and looking for someone who can help? Well Project Share is to contact .We trat all of our teens like there our own flesh and blood</p>
    <p>Lets break the chain of our teens dropping out of school,using drugs,and teen pregnacy.The younger generation is the future of our world .Please click "about" to learn more about projectshare></p>
  </article>
</section>


<footer>
  <p>Footer</p>
</footer>

</body>
</html>









